body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

span {
    color: orange;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 80%;
}

.anchor-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.sub-titel {
    color: black;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experienc-item {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    color: white;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.4206057422969187) 67%, rgba(252, 176, 69, 1) 100%);
    box-shadow: 10px 10px 40px gray;
    width: 40%
}

#full-stack-experience {
    border-image:
        border-left: 7px solid;
    border-image-slice: 1;
}

#web-dev-experience {
    border-image:
        border-left: 7px solid;
    border-image-slice: 1;
}

footer {
    text-align: center;
}

.ex-button {
    text-align: center;